@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}


body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  
.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 250px;
    background-color: #1f2937;
    font-size: 13px;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

.section-one{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 250px 25px 250px;
    background-color: #1f2937;
    color: #f9faf8;
    gap: 25px;
}

.intro-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h1{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

button{
    color: #f9faf8;
    background-color: #3882f6;
    border-width: 0;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    width: 80px;
}

.section-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 350px;
    gap: 18px;
}

.services{
    border-style:solid;
    border-width: 2px;
    border-radius: 8px;
    color: #3882f6;
    padding: 27px;
    width: 120px;
    align-self: center;
}

.info{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.text{
    margin: 18px;
    text-align: center;
    font-size: 14px
}

.container{
    display: flex;
    align-items: center;
    gap: 18px;
}

.inspiration{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 70px 350px;
    gap: 25px;
}

.quote{
    font-style: italic;
    font-size: 22px;
    align-self: flex-start;
}

.author{
    font-style: normal;
    font-size: 16px;
    font-weight: 700px;
    align-self: flex-end;
    padding: 0 40px;
}