html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*, *::before, *::after{
    box-sizing: inherit;
}

.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 250px;
    background-color: #1f2937;
    font-size: 13px;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

.content{
    display: flex;
    padding: 25px 250px;
    background-color: #1f2937;
    color: #f9faf8;
}

.intro-text{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 8px;
    margin-right: 35px;
}

h1{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

button{
    color: #f9faf8;
    background-color: #3882f6;
    border-width: 0;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    width: 80px;
}